<div >
    <div class="jumbotron">
        <h1>Welcome to Northwind Traders </h1>
        <p class="lead">We have <span>{{vm.productCount}} </span> food products for sale</p>

    </div>
    <div class="row">
        <div class="col-md-4 ">
            <h3>Customers</h3>
            <p class="small">Northwind Customers</p>
            <a class="btn btn-default " href="#" role="button">View Customers &raquo;</a>
        </div>
        <div class="col-md-4">
            <h3>Suppliers</h3>
            <p class="small">Northwind Suppliers</p>
            <a class="btn btn-default" href="#" role="button">View Suppliers &raquo;</a>
        </div>
        <div class="col-md-4 ">
            <h3>Shippers</h3>
            <p class="small">Northwind Shippers</p>
            <a class="btn btn-default" href="#" role="button">View Shippers &raquo;</a>
        </div>
    </div>
</div>