<div>
    <h1>{{vm.message}}</h1>
    <div>
            <div class="form-group">
                <label for="productID">Enter Product ID:</label>
                <input type="text" class="form-control" id="productID" name="productID" ng-model="vm.product.productID"/>
            </div>
            <div class="form-group">
                <button ng-click="vm.search();showDetail=true" class="btn btn-info">Search</button>
            </div>
        <div class="text-info jumbotron" ng-show="showDetail">
            <h2>Product Details</h2>
            <div class="row">
                <div class="col-md-2"> Product ID:</div><div class="col-md-3">{{vm.product.ProductID}}</div>
            </div>
            <div class="row">
                <div class="col-md-2"> Product Name:</div><div class="col-md-3">{{vm.product.ProductName}}</div>
            </div>
            <div class="row">
                <div class="col-md-2"> Unit Price:</div><div class="col-md-3">{{vm.product.UnitPrice | currency}}</div>
            </div>
            <div class="row">
                <div class="col-md-2"> Discontinued:</div><div class="col-md-3">{{vm.product.Discontinued}}</div>
            </div>
        </div>
    </div>

    


</div>